body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: rgb(87, 87, 87);
  border-radius: 0;
  border-bottom: 5px solid rgba(116, 116, 116, 0.788);
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.col {
  padding: 0px;
}

.hour {
  background-color: #ffffff;
  color: rgb(49, 49, 49);
  border-top: 1px solid rgba(49, 49, 49, 0.2);
  display: flex;
  align-items: center;
}
/*************************** FORM STYLING *****************/
.eventForm {
  height: 100%;
}

.eventArea {
  padding: 5px;
  height: 100%;
  width: 100%;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: rgb(49, 49, 49);
  padding: 10px;
}

.past {
  background: repeating-linear-gradient(
    135deg,
    rgba(128, 128, 128, 0.2),
    rgba(128, 128, 128, 0.2) 2px,
    rgb(185, 185, 185, 0.5) 2px,
    rgb(185, 185, 185, 0.5) 15px
  );
}

.present {
  background-color: #77dd77ef;
}

.future {
  background-color: #9fda9f;
}

/*************************** SAVE BUTTON STYLING *****************/
.saveBtn {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #7ecddf;
  color: rgb(211, 211, 211);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.saveBtn:hover {
  color: white;
  font-size: 25px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.fa-save {
  pointer-events: none;
}

/*************************** CLEAR BUTTON STYLING *****************/
#clearBtnDiv {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
}
